@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f1f5f9;
}

/* Fix Leaflet z-index di bawah sidebar mobile */
.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-map-pane svg,
.leaflet-map-pane canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  z-index: 1 !important;
}

.leaflet-control {
  z-index: 2 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 2 !important;
}